<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"> 
    <title>Puppy Adoption Site</title>
  </head>
  <body>
    <form action="/create_puppy" method="POST">
	  <p>Name: <input type="text" name="puppy_name"/></p>
	  <p>Breed:<input type="text" name="puppy_breed"/></p>
	  <p>Age:  <input type="text" name="puppy_age"/></p>
	 
	  <input type="submit" value="Submit"/>
  </body>
</html>