<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"> 
    <title>Puppy Adoption Site</title>
  </head>
  <body>
    <form action="/create_puppy" method="POST">
	  <p><input type="text" name="puppy_name"/>Name:</p>
	  <p><input type="text" name="puppy_breed"/>Breed:</p>
	  <p><input type="text" name="puppy_age"/>Age:</p>
	 
	  <input type="submit" value="Submit"/>
  </body>
</html>